.mb-post-status {
    padding: 5px 14px;
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    z-index: 5;
    font-weight: 600;
}
.mb-post-disapproved {
    background-color: #fff5f5;
    border: 1px solid #e67878;
    color: #e67878;
}
.mb-post-approved {
    background-color: #f6fff5;
    color: #35a927;
    border: 1px solid #cae7c6;
}

.mb-post-pending {
    background-color: #d7da1e;
}
.mb-blog-new-post {
    height: 45px;
}
.mb-blog-new-post button {
    float: right; 
    outline: none;
}

.post-item-wraper {
    position: relative;
}

.post-info-action {
    display: flex;
    position: absolute;
    float: right;
    right: 10px;
    top: 10px;
}

.sidebar.sidebar-main:before {
    content: unset !important;
}

.post-info-action div {
    margin: 0px 8px;
    width: 20px;
    cursor: pointer;
}

.author-form .mb-field {
    display: flex;
}

.author-form .mb-field .label {
    width: 30%;
}

.author-form .mb-field > div {
    width: 100%;
}
.add-post-form .ck-editor__editable,
.author-form .ck-editor__editable { min-height: 300px; }
.mb-custom .mb-field {
    margin: 0 0 20px;
}

.mb-custom .field label.label {
    font-weight: 600;
    margin-bottom: 8px;
    display: inline-block;
}
.admin__data-grid-filters-wrap .admin__form-field .admin__form-field .admin__form-field-label {
    border: 1px solid transparent;
    float: left;
    font-weight: normal;
    line-height: 1.36;
    margin-bottom: 0;
    padding-bottom: 0.6rem;
    padding-right: 1em;
    padding-top: 0.6rem;
    width: 25%;
}

.admin__control-text {
    -webkit-appearance: none;
    background-color: #ffffff;
    border: 1px solid #adadad;
    border-radius: 1px;
    box-shadow: none;
    color: #303030;
    font-size: 1.4rem;
    font-weight: 400;
    height: auto;
    line-height: 1.36;
    padding: 0.6rem 1rem 0.6rem;
    transition: border-color 0.1s linear;
    vertical-align: baseline;
    width: auto;
}
.add-post-form .actions-toolbar .primary .action { margin-right: 0; }
.admin__action-multiselect-tree .action-menu .action-menu-item,
.admin__action-multiselect-tree .abs-action-menu .action-submenu .action-menu-item,
.admin__action-multiselect-tree .action-menu .action-submenu .action-menu-item,
.admin__action-multiselect-tree .actions-split .dropdown-menu .action-submenu .action-menu-item,
.admin__action-multiselect-tree .actions-split .action-menu .action-submenu .action-menu-item {
    margin-top: .1rem;
}

.action-menu .item,
.action-menu .action-menu-item,
.abs-action-menu .action-submenu .item,
.abs-action-menu .action-submenu .action-menu-item,
.action-menu .action-submenu .item,
.action-menu .action-submenu .action-menu-item,
.actions-split .dropdown-menu .action-submenu .item,
.actions-split .dropdown-menu .action-submenu .action-menu-item,
.actions-split .action-menu .action-submenu .item,
.actions-split .action-menu .action-submenu .action-menu-item {
    cursor: pointer;
    display: block;
    padding: .6875em 1em;
}

.admin__action-multiselect-tree .action-menu-item {
    margin-left: 4.2rem;
    position: relative;
}

.admin__action-multiselect-tree .action-menu-item._expended:before {
    border-left: 1px dashed #a79d95;
    bottom: 0;
    content: '';
    left: -1rem;
    position: absolute;
    top: 1rem;
    width: 1px;
}

.admin__action-multiselect-dropdown {
    border-radius: 50%;
    height: 2.2rem;
    left: -2.2rem;
    position: absolute;
    top: 1rem;
    width: 2.2rem;
    z-index: 1;
}
.admin__action-multiselect-dropdown:before {
    background: #ffffff;
    color: #a79d95;
    content: '\e622';
    font-size: 16px;
    margin-left: 6px;
    font-family: 'luma-icons';
}

.admin__action-multiselect-tree .action-menu-item._with-checkbox .admin__action-multiselect-label {
    padding-left: 24px;
}
.add-post-form .admin__action-multiselect-wrap input[type="checkbox"] { width: 0; }
.admin__action-multiselect-tree .admin__action-multiselect-menu-inner {
    position: relative;
}
.admin__action-multiselect-tree .admin__action-multiselect-menu-inner .admin__action-multiselect-menu-inner {
    padding-left: 3.2rem;
}
.admin__action-multiselect-tree .admin__action-multiselect-menu-inner .admin__action-multiselect-menu-inner:before {
    left: 4.3rem;
}
.admin__action-multiselect-tree .admin__action-multiselect-menu-inner-item {
    position: relative; margin-bottom: 0;
}

.admin__action-multiselect-tree .admin__action-multiselect-menu-inner-item:last-child:before {
    height: 2.1rem;
}

.admin__action-multiselect-tree .admin__action-multiselect-menu-inner-item:after,
.admin__action-multiselect-tree .admin__action-multiselect-menu-inner-item:before {
    content: '';
    left: 0;
    position: absolute;
}

.admin__action-multiselect-tree .admin__action-multiselect-menu-inner-item:after {
    border-top: 1px dashed #a79d95;
    height: 1px;
    top: 2.1rem;
    width: 4.2rem;
}

.admin__action-multiselect-tree .admin__action-multiselect-menu-inner-item:before {
    border-left: 1px dashed #a79d95;
    height: 100%;
    top: 0;
    width: 1px;
}

.admin__action-multiselect-tree .admin__action-multiselect-menu-inner-item._parent:after {
    width: 4.2rem;
}

.admin__action-multiselect-tree .admin__action-multiselect-menu-inner-item._root {
    margin-left: -1rem;
}

.admin__action-multiselect-tree .admin__action-multiselect-menu-inner-item._root:after {
    left: 3.2rem;
    width: 2.2rem;
}

.admin__action-multiselect-tree .admin__action-multiselect-menu-inner-item._root:before {
    left: 3.3rem;
    top: 1rem;
}

.admin__action-multiselect-tree .admin__action-multiselect-menu-inner-item._root._parent:after {
    display: none;
}

.admin__action-multiselect-tree .admin__action-multiselect-menu-inner-item._root:first-child:before {
    top: 2.1rem;
}

.admin__action-multiselect-tree .admin__action-multiselect-menu-inner-item._root:last-child:before {
    height: 1rem;
}

.admin__action-multiselect-tree .admin__action-multiselect-label {      
    word-break: break-all;
}

.admin__action-multiselect-tree .admin__action-multiselect-label:before {
    left: 1.5rem;
    position: absolute;
    top: 12px;
}
.action-select-wrap {
    display: inline-block;
    position: relative;
}
.action-select-wrap._active {
    z-index: 500;
}
.action-select-wrap .action-menu-items {
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
}
.admin__action-multiselect-crumb .action-close {
    bottom: 0;
    font-size: .5em;
    position: absolute;
    right: 0;
    top: 0;
    width: 2rem;
}

.admin__action-multiselect-wrap {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    display: block;
    user-select: none;
}

.admin__action-multiselect-wrap .admin__action-multiselect {
    border: 1px solid #adadad;
    cursor: pointer;
    display: block;
    min-height: 3.2rem;
    padding-right: 3.6rem;
    white-space: normal;
}
.admin__control-table-wrapper .admin__action-multiselect-wrap .admin__action-multiselect {
    position: relative;
}
.admin__action-multiselect-text {
    padding: .6rem 1rem;
}
.admin__action-multiselect-search-wrap { border-bottom: 1px solid #e3e3e3; margin: 0 1rem; padding: 1rem 0; position: relative; }
.admin__action-multiselect-search {
    padding-right: 3rem;
    width: 100%;
}
.admin__data-grid-action-bookmarks .admin__action-dropdown-menu .admin__control-text {
    font-size: 1.3rem;
    min-width: 15rem;
    width: calc(100% - 4rem);
}
.admin__control-checkbox + label:before, 
.mass-select-wrap select + label:before {
    border-radius: 1px;
    content: '';
    font-size: 0;
    transition: font-size 0.1s ease-out, color 0.1s ease-out, border-color 0.1s linear;
}

.admin__control-radio + label:before, 
.admin__control-checkbox + label:before, 
.mass-select-wrap select + label:before {
    background-color: #ffffff;
    border: 1px solid #adadad;
    color: transparent;
    float: left;
    height: 1.6rem;
    text-align: center;
    vertical-align: top;
    width: 1.6rem;
}

.admin__action-multiselect-crumb .action-close:before {
    position: absolute;
    top: -9px;
    right: -10px;
    font-size: 10px;
}

.admin__action-multiselect-menu-inner-item._root .action-menu-item .admin__action-multiselect-label:before {
    margin-right: 1rem;
}

.admin__control-checkbox:checked + label:before, 
.mass-select-wrap select._checked + label:before {
    content: '\e610';
    font-size: 1.1rem;
    line-height: 152%;
    color: #FFF;
    font-family: 'luma-icons';
    background-color: #35a927;
    border-color: #35a927;
}

.admin__scope-old input[type=text] {
    box-sizing: border-box;
    border: 1px solid #adadad;
    border-radius: 1px;
    padding: .6rem 1rem .6rem;
    color: #303030;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    height: 33px;
}

.admin__action-multiselect-crumb:hover {
    border-color: #908379;
}

.admin__action-multiselect-crumb {
    background-color: #f5f5f5;
    border: 1px solid #a79d95;
    border-radius: 1px;
    display: inline-block;
    font-size: 1.2rem;
    margin: 0.3rem -4px 0.3rem 0.3rem;
    padding: 0.3rem 2.4rem 0.4rem 1rem;
    position: relative;
    transition: border-color 0.1s linear;
}

.admin__action-multiselect-menu-inner {
    margin-bottom: 0;
    max-height: 46rem;
    overflow-y: auto;
}

.admin__action-multiselect-menu-inner .admin__action-multiselect-menu-inner {
    list-style: none;
    max-height: none;
    overflow: hidden;
    padding-left: 2.2rem;
}

.admin__action-multiselect-menu-inner ._hidden {
    display: none;
}

.admin__action-multiselect-actions-wrap {
    border-top: 1px solid #e3e3e3;
    margin: 0 1rem;
    padding: 1rem 0;
    text-align: center;
}

.admin__action-multiselect-actions-wrap .action-default {
    font-size: 1.3rem;
    min-width: 13rem;
}
ul, ol, dl, ul > li, ol > li {
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
}

.admin__action-multiselect-wrap.action-select-wrap .action-menu,
.admin__action-multiselect-wrap.action-select-wrap .abs-action-menu
.action-submenu, .admin__action-multiselect-wrap.action-select-wrap
.action-menu .action-submenu, .admin__action-multiselect-wrap.action-select-wrap
.actions-split .dropdown-menu .action-submenu,
.admin__action-multiselect-wrap.action-select-wrap .actions-split .action-menu .action-submenu {
    max-height: none;
    overflow-y: inherit;
    width: 100%;
}

.action-menu._active,
.abs-action-menu .action-submenu._active,
.action-menu .action-submenu._active, .actions-split .dropdown-menu .action-submenu._active,
.actions-split .action-menu .action-submenu._active {
    display: block;
}

.admin__action-multiselect-tree .action-menu,
.admin__action-multiselect-tree .abs-action-menu .action-submenu,
.admin__action-multiselect-tree .action-menu .action-submenu,
.admin__action-multiselect-tree .actions-split .dropdown-menu .action-submenu,
.admin__action-multiselect-tree .actions-split .action-menu .action-submenu {
    min-width: 34.7rem;
}

.action-menu,
.abs-action-menu .action-submenu, .action-menu .action-submenu,
.actions-split .dropdown-menu .action-submenu, .actions-split .action-menu .action-submenu {
    background-color: #ffffff; border: 1px solid #45b17b;
    border-radius: 1px; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    color: #41362f;  display: none;
    font-weight: 400; left: 0; list-style: none; margin: 2px 0 0;
    min-width: 0; padding: 0; position: absolute;  right: 0;  top: 100%;
}

.action-menu,
.abs-action-menu .action-submenu,
.action-menu .action-submenu,
.actions-split .dropdown-menu .action-submenu,
.actions-split .action-menu .action-submenu {
    left: 0;
    margin-top: 2px;
    right: auto;
    text-align: left;
}

.admin__form-field-control .admin__control-text,
.admin__field-control .admin__control-text,
.admin__form-field-control .admin__control-textarea,
.admin__field-control .admin__control-textarea {
    width: 100%;
}

.admin__control-checkbox {
    cursor: pointer;
    opacity: .01;
    overflow: hidden;
    position: absolute;
    vertical-align: top;
}
.admin__action-multiselect-search-wrap input[type="text"] {
    width: 100%;
}
/* Added by me */
.admin__action-multiselect-search-count {
    margin: 8px 0px 0px 6px;
}
.admin__action-multiselect-search-wrap .admin__action-multiselect-menu-inner-item ul > li {
    margin-bottom: 0;
}
@media(min-width:1024px) and (max-width:1279px) { 
.mbblog-post-history .post-list-content .image-content .post-image { min-width: 220px; width: 220px; }    
}
@media(min-width:768px) and (max-width:1023px) { 
.mbblog-post-history .post-list-content .image-content .post-image { min-width: 150px; width: 150px; } 
.mbblog-post-history .post-list-content .mb-post-title { font-size: 20px; }
}
@media (max-width: 767px) { 
.mbblog-post-history .post-list-content .image-content { flex-wrap: wrap; }     
.mbblog-post-history .post-list-content .image-content .post-image { width: 100%; min-width: 10px; }
.mbblog-post-history .post-list-content .image-content .post-image img { width: 100%; }
}
@media (max-width: 575px) { 
    .author-form .mb-field { flex-direction: column; }
    .author-form .mb-field .label { width: auto; }
}
@media (max-width: 479px){
    .author-form .mb-field, .add-post-form .mb-field { flex-direction:column; }
    .author-form .mb-field .label, .add-post-form .mb-field .label { width:100%; }
    .author-form .mb-field .control, .add-post-form .mb-field .control { width:100%; flex-direction: column; align-items: flex-start; gap: 14px; }
    .add-post-form .mb-field .control .delete-image { width: 100%; }
    .author-form .mb-field .control .mb_full_url { word-break:break-word; }
    .add-post-form .mb-field .control input[type="file"],
    .author-form .mb-field .control input[type="file"] { width:100%; }    
}