
/* ================================ HYVABLOG.CSS FROM MY SIDE Start ======================================== */
.page-layout-2columns-right .columns  .page-main .column.main { width: 78%; display: flex;}
.page-layout-2columns-right .columns  .page-main .sidebar-main { width: 22%; display: flex;}
.page-main .columns { display: flex; gap: 15px; }
.page-layout-2columns-right .columns .main .mb-blog-rss { margin: 0 0 10px 0; }
/* title for all the sections that need to same css */
.mbblog-post-view .about-admin h2, 
.mbblog-post-view .topic-list h2, 
.mbblog-post-view .blog-comment h2, 
.mbblog-post-view .products-same-post h2 {
    margin-bottom: 8px;
}

.mb-blog-view .post-view-image img
 {
    border-radius: 8px;
    max-width: 100%;
    width: 100%;
}
.sidebar .sidebar-info .block-title-sidebar-heading { 
    margin-bottom: -1px; 
}
/* post view details content */
.mb-blog-view .post-post_content {
    line-height: 30px;
}
/* NAVIGATION FOR PREVIOUS AND NEXT POST BLOG PAGE */
.mb-blog-navigation {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 35px 0;
}
.mb-blog-prev {
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 5px; background: #f8f8f8;
}
.mb-blog-next {
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 5px; background: #f8f8f8;
}
/* Tags, Topics and Admin alse Author section  */
.mb-post-list .mb-post-info {
    color: #313131;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 7px;
    margin: 10px 0;
}
/* Review section  */
.mb-blog-review-title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 12px;
}
/* grid view for review section in related posts */
.topic-list .related-content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
/* author-content-information */
.mbblog-post-view .block-blog-related .about-admin {
    margin-bottom: 12px;
}
.block-blog-related .related-content-container .author-content-information {
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    width: calc(100% - 155px);
}
/* Related post information details sections */
.topic-list .post-info-wraper {
    padding: 0px 8px 0px 8px;
}
.topic-list .mb-post-info {
    line-height: 18px;
    margin: 0;
}
.topic-list .post-image {
    min-height: 210px;
    position: relative;
}
/* SIDEBAR BLOCK CARD */
.sidebar .sidebar-categories,
.sidebar .tags {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

/* BLOCK TITLE */
.sidebar .sidebar-info .block-title {
    font-size: 16px;
    font-weight: 600;
    color: #111;
    margin-bottom: 15px;
    border-bottom: 1px solid #e5e7eb;
}

.sidebar .sidebar-info .block-title-sidebar-heading {
    display: inline-block;
    padding-bottom: 6px;
    border-bottom: 2px solid #000;
}

/* AUTHOR CARD */
.sidebar .sidebar-info .author-image {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.sidebar .sidebar-info .author-image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #f1f5f9;
}

.sidebar .sidebar-info .author-name h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 8px;
}

.sidebar .sidebar-info .author-content {
    text-align: center;
    font-size: 14px;
    color: #666;
}

/* SEARCH */
.sidebar .mbblog-search  {
    display: flex; align-items: center;
    gap: 8px; margin-bottom: 10px;
}
.sidebar .mbblog-search .field.search {
    display: flex;
    align-items: center;
    gap: 10px; margin: 0; width: 100%;
}
.sidebar .mbblog-search .field.search .control {
    width: 100%;
}
.sidebar #mbblog-search-box {
    flex: 1;
    height: 38px;
    width: 100%;
    padding: 0 12px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
}
.sidebar .mbblog-search .actions .search {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    background: #eee;
    height: 38px;
    border-radius: 5px;
}
/* POST LIST */
.sidebar .list-post-tabs .post-left img {
    width: 100%;
    border-radius: 6px;
}
.sidebar .list-post-tabs .post-right span {
    font-weight: 600;
    font-size: 14px;
}
.sidebar .list-post-tabs .create-at {
    font-size: 12px;
    color: #6b7280;
}
/* CATEGORY LIST */
.sidebar .menu-categories {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar .menu-categories li {
    margin-bottom: 6px;
}
.sidebar .menu-categories li a {
    display: block;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    transition: 0.3s;
}
.sidebar .menu-categories li a:hover {
    background: #f4f7ff;
}
.sidebar .menu-categories .category-children .list-categories {
    padding: 5px 10px;
}
.sidebar-info .categories-item-list .menu-categories .category-children { padding-left: 20px;}
.sidebar-info .categories-item-list .menu-categories .category-children ul,
.sidebar-info .categories-item-list .menu-categories .category-item li { padding-left: 15px; }
/* TAGS */
.sidebar .tags .tags-list {
    display: inline-block;
    padding: 6px 10px;
    margin: 4px;
    background: #f1f5f9;
    border-radius: 6px;
    font-size: 13px;
    text-decoration: none;
    color: #444;
}
.sidebar .tags .tags-list:hover {
    background: #006bb4;
    color: #fff;
}
/* TAB CONTAINER */
.sidebar .product.data.items {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    overflow: hidden;
}
/* TAB HEADERS */
.sidebar .product.data.items .data.item.title {
    width: 50%;
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
}
/* TAB BUTTON */
.sidebar .product.data.items .data.item.title .data.switch {
    display: block;
    text-align: center;
    padding: 12px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}
/* ACTIVE TAB */
.sidebar .product.data.items .data.item.title.active {
    background: #fff;
    border-bottom: 2px solid #000;
    border-left: none;
}
/* TAB CONTENT */
.sidebar .product.data.items .data.item.content {
    width: 100%;
    margin: 0;
    padding: 15px;
    background: #fff;
}
/* POST LIST */
.sidebar .list-post-tabs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 12px;
}
.sidebar .post-left {
    width: 100%;

}
.sidebar .post-left img {
    width: 100%;
    border-radius: 4px;
}
.sidebar .post-right {
    flex: 1;
}
.sidebar .post-right span {
    font-size: 14px;
    font-weight: 600;
}
.sidebar .create-at {
    display: block;
    font-size: 12px;
    color: #777;
}
/* related post topic pages */
.mbblog-post-view .block-blog-related.topic-list.mpcss {
    margin-bottom: 25px;
}
/* Comment section code  */
.blog-comment .mbblog-comment-section #mbblog-comment-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
/* Inside the files css that not removed */
.blog-comment .mbblog-comment-details.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-top: 12px;
}
.blog-comment .mbblog-comment-details-list {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 4px;
}
.blog-comment .mbblog-comment-section {
    width: 100%;
    max-width: 100%;
}
#mb-blog-review .mb-blog-like { background-color: #6AA84F;  left: 40%; width: 130px;}
#mb-blog-review .mb-blog-dislike { width: 130px; }

.products-same-post .product-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.products-same-post .rating-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 8px;
}
.products-same-post .actions-primary .action.tocart {
    background: #000;
    margin-bottom: 12px;
    margin-top: 0px;
}
.products-same-post .actions-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Author page details minor change */
.mbblog-author-details .share-col-left h5 {
    margin-bottom: 0px;
}
.mbblog-author-details .share-col-right {
    margin: 10px 0px;
}
/* blog page grid section that need to be fixed */
.page-layout-2columns-right .columns .main {
    width: 200%;
}
.product-item-info:hover, .products-grid .product-item-info.active { 
    box-shadow: none; padding: 10px;
    border: 1px solid #ddd;
}
.column .products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-bottom: 12px;
}
.column .post-list-item.post-item-grid {
    border: 1px solid #ddd;
    padding: 14px;
    border-radius: 5px;
}
.column .products-grid .post-image {
    width: 100%;
    max-width: 100%;
}
.column .products-grid .post-image img {
    width: 100%;
    max-width: 100%;
}
.column .products-grid h2.mb-post-title {
    margin: 10px 0px 12px 0px;
    font-weight: 600;
    font-size: 24px;
}
.column .products-grid .post-info .mb-post-info {
    font-size: 12px;
    flex-wrap: wrap;
}
.column .products-grid .post-info .details-sharing {
    display: flex;
    align-items: flex-start;
    gap: 0px;
    flex-wrap: wrap;
}
.column .products-grid .mb-post-meta-info {
    margin-top: 10px;
    font-size: 14px;
    display: inline-flex;
}
.column .products-grid  #sharing .share-col-left h5 {
    margin: 10px 0px 8px 0px;
    padding: 0;
}
.column .products-grid .details-sharing #sharing {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: space-between
}
.column .products-grid .post-sharing-button {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
}
.column .products-grid .mb-post-list .post-info {
    padding: 0px;
}
.column .products-grid .mpcss {
    border-top: 1px solid #ddd;
    padding-top: 0px;
    margin-top: 10px;
    width: 100%;
}
.products-same-post { margin-bottom: 40px; }
.products-same-post .splide__pagination { bottom: -2.5em; }
.products-same-post .item.product.product-item.mb-blog-slider-item { max-width: 100%; display: flex; flex-wrap: wrap;}
.products-same-post #products-carousel-track { min-height: 530px; margin-top: 40px; }
.products-same-post .splide__slide { width: auto; }
.products-same-post .splide__pagination__page.is-active {  background: #000000; }
.products-same-post .splide__pagination__page.is-active {  background: #6b6b6bff }

.product-item .price-box { margin: 10px 0 25px; }
.item.product.product-item.mb-blog-slider-item { width: 85%; text-align: center; min-height: 450px; margin-top: 5px;}
.product-item-info:hover .btn.btn-primary { display: block;  }
.btn.btn-primary {  display: none; }
.products-grid .product-item-actions { margin: -10px 0 10px;}
.topic-list .splide__pagination { bottom: -1.2em;}
.topic-list .splide__arrow { display: none !important; }
.topic-list .splide__pagination__page.is-active {  background: #000000; }
.topic-list .splide__pagination__page.is-active {  background: #6b6b6bff }
#relatedposts-carousel, .relatedposts-list a:visited, .alink:visited { color: #006bb4;  text-decoration: none;}
#relatedposts-carousel  a:hover, .alink:hover {  color: #006bb4; text-decoration: underline; }

/* Inline css that need to remove from php files */
.item.post-list-item.col-mb { width: 100%; }
.splide__pagination { bottom: -0.5em; }
.splide__arrow {    display: none !important; }
.splide__pagination__page.is-active { background: #869791}
.admin__action-multiselect-crumb .action-close:before { top: -6px; right: 8px;  }
.admin__action-multiselect-menu-inner-item._root .action-menu-item .admin__action-multiselect-label:before {
    content: '\f846'; font-family: 'porto-icons'; }
.admin__action-multiselect-dropdown:before {  content: '\f803'; font-family: 'porto-icons'; }
.admin__action-multiselect-tree .action-menu-item._expended .admin__action-multiselect-dropdown:before {
     right: 5px; position: absolute; content: '\f800'; font-family: 'porto-icons'; }
.helpdesk_email { display: none !important; }
.contactformpro_email { display: none !important; }
a.white-space-pre-line { white-space: pre-line; }

@media(min-width:1280px) and (max-width:1440px) {
    #mb-blog-review .mb-blog-like { left: 35%;}
    .column .products-grid { grid-template-columns: repeat(2, 1fr); gap: 10px; }
}
@media(min-width:1024px) and (max-width:1279px) {
    .column .products-grid { grid-template-columns: repeat(2, 1fr); gap: 10px; }
    #mb-blog-review .mb-blog-like { left: 30%;}
 }
@media (min-width: 767px) and (max-width: 1023px) {
    .column .products-grid { grid-template-columns: repeat(1, 1fr); gap: 10px; }
    .products-same-post .product-items { display: grid; grid-template-columns: repeat(3, 1fr); gap: 30px 15px; }
    .topic-list .related-content-container { display: grid; grid-template-columns: repeat(2, 1fr); gap: 15px; }
    #mb-blog-review .mb-blog-like { left: 22%; }
}
@media (max-width: 768px) {
    .page-main .columns { display: flex; flex-wrap: wrap; }
    .topic-list .related-content-container {
    display: grid; grid-template-columns: repeat(1, 1fr); gap: 15px; }
    .block-blog-related .related-content-container .author-content-information { width: auto; }
    #mb-blog-review .mb-blog-like { left: 28%; }
    .column .products-grid { grid-template-columns: repeat(2, 1fr);  gap: 10px; }
    .products-same-post .product-items { display: grid; grid-template-columns: repeat(2, 1fr); gap: 30px 15px; }
}
@media (max-width: 575px) { 
    #mb-blog-review .mb-blog-like { left: 24%; }
    .post-list-content .products-grid .details-sharing #sharing {  margin-top: 10px; }
    .column .products-grid { grid-template-columns: repeat(1, 1fr); gap: 8px; }
}
@media (max-width: 480px) { 
    #mb-blog-review .mb-blog-like { left: 22%; }
    .post-list-content .products-grid .details-sharing #sharing {  margin-top: 10px; }
    .column .products-grid { grid-template-columns: repeat(1, 1fr); gap: 8px; }
    .products-same-post .product-items { display: grid; grid-template-columns: repeat(1, 1fr); gap: 30px 15px; }
}

/* ================================ HYVABLOG.CSS FROM MY SIDE End ======================================== */