.mbblog-widget-post .splide__arrows { position: absolute; right: 0; top: -30px; }
.mbblog-widget-post .splide__arrow--prev { left: auto; right: 42px; }
.mbblog-widget-post .splide__arrow--next { right: 0; }
.mbblog-widget-post .splide__slide .post-short-description {  
     margin: 0 0 16px;
}
.mbblog-widget-post .splide__slide .post-item-wraper { min-height: 100%; }
.mbblog-widget-post .splide__pagination { bottom: -24px; }
.mbblog-widget-post .splide__pagination__page.is-active { background: #000; }
.mbblog-widget-post .splide__slide { padding-bottom: 1px; }